<%- include("../includes/header.ejs", {title:"Account - View All"}); %>

<h1>Accounts</h1>
<a href="/account/add">Add New Account</a> <br />

<br />

<table border="1">
    <tr><th>First Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/account/?accountID=<%= result[i].accountID %>"><%= result[i].firstName %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/account/edit/?accountID=<%= result[i].accountID %>'">Edit</button>
            <form action="/account/delete/" style="display:inline;">
                <input type="hidden" name="accountID" id="accountID" value="<%= result[i].accountID %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>