<%- include("../includes/header.ejs", {title:"Add New Account"}); %>
    <h1>Add New Account</h1>
    <form action="/account/insert" method="get">
        Email: <input id="email" name="email" type="text" />
        <br />
        <br />
        First Name: <input id="firstName" name="firstName" type="text" />
        <br />
        <br />

        Last Name: <input id="lastName" name="lastName" type="text" />
        <br />
        <br />

        <input type="submit"/>
    </form>

<%- include("../includes/footer.ejs"); %>