<%- include("../includes/header.ejs", {title: "Update " + account.firstName}); %>

<h1>Update <%= account.firstName%></h1>
<form action="/account/update" method="get">
    <input type="hidden" id="accountID" name="accountID" value="<%= account.accountID %>">
    Email: <input id="email" name="email" type="text" value="<%= account.email%>"/>
    <br />
    First Name: <input id="firstName" name="firstName" type="text" value="<%= account.firstName%>"/>
    <br />
    Last Name: <input id="lastName" name="lastName" type="text" value="<%= account.lastName%>"/>
    <br />

    <input type="submit"/>

</form>

<%- include("../includes/footer.ejs"); %>
