<%- include("../includes/header.ejs", {title:"Accounts - " + result[0].accountID}); %>
<h1>Accounts</h1>
<ul>
    <li>Email: <%= result[0].email %></li>
    <li> First Name: <%= result[0].firstName%></li>
    <li> Last Name: <%= result[0].lastName%></li>

</ul>

<a href="/account/all"> << back </a>

<%- include("../includes/footer.ejs");%>