<%- include("../includes/header.ejs", {title:"Resume - " + result[0].resumeName}); %>
<h1>Resume for <%= result[0].firstName %></h1>
<ul>
    <li><b>First Name:</b> <%= result[0].firstName %></li>
    <li><b>Last Name:</b> <%= result[0].lastName %></li>
    <li><b>Resume Name:</b> <%= result[0].resumeName %></li>
</ul>



<a href="/resume/all"> << back</a>

<%- include("../includes/footer.ejs"); %>