<%- include("../includes/header.ejs", {title:"Add New Resume"}); %>
<h1>Add New Resume</h1>

<form action="/resume/insert" method="get">
    <input type="hidden" id="accountID" name="accountID" value="<%= accountInfo.accountID %>">
    Resume Name: <input id="resumeName" name="resumeName" type="text" />
    <br />
    <select id="schoolID" name="schoolID" multiple="multiple">
        <% for(var i=0; school.length > i; i++ ) { %>
        <option value="<%= school[i].schoolName %>"><%= school[i].schoolName%></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#schoolID').multiselect();
        });
    </script>



    <select id="companyID" name="companyID" multiple="multiple">
        <% for(var i=0; company.length > i; i++ ) { %>
        <option value="<%= company[i].copmanyName %>"><%= company[i].companyName%></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#companyID').multiselect();
        });
    </script>



    <select id="skillID" name="skillID" multiple="multiple">
        <% for(var i=0; skill.length > i; i++ ) { %>
        <option value="<%= skill[i].skillName %>"><%= skill[i].skillName%></option>
        <% } %>
    </select>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#skillID').multiselect();
        });
    </script>

    <input type="submit" />
</form>
<%- include("../includes/footer.ejs"); %>
