<%- include("../includes/header.ejs", {title:"Select User"}); %>
<h1>Select User</h1>
<form action="/resume/add" method="get">
    <select id="accountID" name="accountID">
        <% for(var i=0; result.length > i; i++ ) { %>
        <option value="<%= result[i].accountID %>"><%= result[i].firstName + ', ' + result[i].lastName %></option>
        <% } %>
    </select>
    <br />
    <input type="submit" />
</form>

<!--TODO: how to pass result to resume/add-->

<%- include("../includes/footer.ejs"); %>