<%- include("../includes/header.ejs", {title:"Resume - View All"}); %>

<h1>Resumes</h1>
<a href="/resume/resumeSelectUser">Add New Resume</a> <br />
<br />

<table border="1">
    <tr><th>First Name</th><th>Last Name</th><th>Resume Name</th> <th> Options </th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><%= result[i].firstName %></td>
        <td><%= result[i].lastName %></td>
        <td><%= result[i].resumeName%></td>
        <td>
            <form action="/resume/delete/" style="display:inline;">
                <input type="hidden" name="resumeID" id="resumeID" value="<%= result[i].resumeID %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>

    </tr>

    <% } %>
</table>

<%- include("../includes/footer.ejs"); %>
