<%- include("./includes/header.ejs", {title: title}); %>

<article>
    <style>
        article {
            margin-left: 170px;
            border-left: 1px solid black;
            color:darkred;
            padding: 1em;
            overflow: hidden;
        }    </style>
    <p> <b> This is <%= title %></b></p>


    <a href="/company/all">Companies </a>
    <br/>
    &ndash;
    <string>Clicking on the above link will lead you to the Companies you have in your system.</string>
    <br />

    <a href="/account/all">Accounts </a>
    <br />
    &ndash;
    <string>licking on the above link will lead you to the Accounts you have in your system.</string>
    <br />

    <a href="/address/all">Addresses</a>
    <br />
    &ndash;
    <string> Clicking on the above link will lead you to the Addresses you have in your system</string>
    <br />

    <a href="/skill/all">Skills</a>
    <br />
    &ndash;
    <string> Clicking on the above link will lead you to the Skills you have in your system</string>
    <br />

    <a href="/resume/all">Resumes</a>
    <br />
    &ndash;
    <string> Clicking on the above link will lead you to the Resumes you have in your system</string>
    <br />

    <br />
</article>


<%- include("./includes/footer.ejs"); %>