<%- include("../includes/header.ejs", {title:"Skills - View All"}); %>

<h1>Skills</h1>
<a href="/skill/add">Add New Skill</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/skill/?skillID=<%= result[i].skillID %>"><%= result[i].skillName %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/skill/edit/?skillID=<%= result[i].skillID %>'">Edit</button>
            <form action="/skill/delete/" style="display:inline;">
                <input type="hidden" name="skillID" id="skillID" value="<%= result[i].skillID %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs");%>
