<%- include("../includes/header.ejs", {title: "Update " + skill.skillName}); %>

<h1>Update <%= skill.skillName%></h1>
<form action="/skill/update" method="get">
    <input type="hidden" id="skillID" name="skillID" value="<%= skill.skillID %>">
    Skill Name: <input id="skillName" name="skillName" type="text" value="<%= skill.skillName%>"/>
    <br />
    Description: <input id="description" name="description" type="text" value="<%= skill.description%>"/>
    <br />

    <input type="submit"/>

</form>

<%- include("../includes/footer.ejs"); %>

</html>

