<%- include("../includes/header.ejs", {title: "Update " + company.companyName}); %>

<h1>Update <%= company.companyName%></h1>
<form action="/company/update" method="get">
    <input type="hidden" id="companyID" name="companyID" value="<%= company.companyID %>">
    Company Name: <input id="companyName" name="companyName" type="text" value="<%= company.companyName%>"/>
    <br />
    <br />
    Address <br />
    <select id="addressID" name="addressID" multiple="multiple">
        <% for(var i=0; address.length > i; i++ ) {
            var selected = "";

            if(address[i].companyID != null)
            {
                selected = "selected";
            }
        %>
        <option value="<%= address[i].addressID %>" <%= selected %> ><%= address[i].street + ', ' + address[i].zipCode %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#addressID').multiselect();
        });
    </script>

    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>