<%- include("../includes/header.ejs", {title:"Company - View All"}); %>

<h1>Companies</h1>
        <a href="/company/add">Add New Company</a> <br />

        <br />

        <table border="1">
            <tr><th>Name</th><th>Actions</th></tr>
            <% for(var i=0; result.length > i; i++ ) { %>
            <tr>
                <td><a href="/company/?companyID=<%= result[i].companyID %>"><%= result[i].companyName %></a></td>
                <td>
                    <button onclick="event.preventDefault();window.location.href='/company/edit/?companyID=<%= result[i].companyID %>'">Edit</button>
                    <form action="/company/delete/" style="display:inline;">
                        <input type="hidden" name="companyID" id="companyID" value="<%= result[i].companyID %>" />
                        <input type="submit" value="Delete"/>
                    </form>

                </td>
            </tr>
            <% } %>
        </table>
<%- include("../includes/footer.ejs"); %>