<%- include("../includes/header.ejs", {title:"Add New Company"}); %>
    <h1>Add New Company</h1>
    <form action="/company/insert" method="get">
        Company Name: <input id="companyName" name="companyName" type="text" />
        <br />
        <br />
        Address
        <br />
        <select id="addressID" name="addressID" multiple="multiple">
            <% for(var i=0; address.length > i; i++ ) { %>
                <option value="<%= address[i].addressID %>"><%= address[i].street + ', ' + address[i].zipCode %></option>
            <% } %>
        </select>

        <!-- Initialize the multiselect plugin: -->
        <script type="text/javascript">
            $(document).ready(function()
            {
                $('#addressID').multiselect();
            });
        </script>


        <br />
        <input type="submit" />

    </form>
<%- include("../includes/footer.ejs"); %>