<%- include("../includes/header.ejs", {title:"Address - View All"}); %>

<h1>Addresses</h1>
<a href="/address/add">Add New Address</a> <br />

<br />

<table border="1">
    <tr><th>Name</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/address/?addressID=<%= result[i].addressID %>"><%= result[i].street %> &nbsp; <%= result[i].zipCode %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/address/edit/?addressID=<%= result[i].addressID %>'">Edit</button>
            <form action="/address/delete/" style="display:inline;">
                <input type="hidden" name="addressID" id="addressID" value="<%= result[i].addressID %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>

<%- include("../includes/footer.ejs");%>
