<%- include("../includes/header.ejs", {title:"Addresses - " + result[0].street}); %>
<h1>Addresses</h1>
<ul>
    <li>Street: <%= result[0].street %></li>
    <li> Zip Code: <%= result[0].zipCode%></li>

</ul>

<a href="/address/all"> << back</a>

<%- include("../includes/footer.ejs");%>