<%- include("../includes/header.ejs", {title: "Update " + address.street}); %>

<h1>Update <%= address.street %></h1>
<form action="/address/update" method="get">
    <input type="hidden" id="addressID" name="addressID" value="<%= address.addressID %>">
    Address: <input id="street" name="street" type="text" value="<%= address.street %>"/>
    <br />
    <br />
    Zip Code: <input id="zipCode" name="zipCode" type="text" value="<% address.zipCode %>"/>
    <br />

    <input type="submit"/>

</form>

<%- include("../includes/footer.ejs"); %>

</html>

